<h1>New agendamento</h1>
<% if @agendamento.errors.any? %>
	<h2>Erros:</h2>
	<ul>
		<% @agendamento.errors.full_messages.each do |message| %>
			<li> <%= message %> </li>
		<% end %>r
	</ul>
<% end %>
<%= render 'form' %>

<%= link_to 'Back', agendamentos_path %>
