<h1>Agenda médica</h1>
<br>
<h2>Menu de opções</h2> 

<%= link_to "Agenda médica", agendamentos_path %> 
<br>
<%= link_to "Pacientes", pacientes_path %> 
<br>
<%= link_to "Convenios", convenios_path %> 
<br>
<%= link_to "Medicos", medicos_path %> 
